*{
margin:0;
padding:0;
box-sizing:border-box;
-webkit-tap-highlight-color:transparent;
}

html,body{
width:100%;
height:100%;
overflow:hidden;
font-family:tahoma,sans-serif;
background:#000;
touch-action:none;
}

.phone{
position:relative;
width:100vw;
height:100vh;
overflow:hidden;
background:#000;
}

.wallpaper{
position:absolute;
inset:0;
background:url("oh.png") center center;
background-size:cover;
background-repeat:no-repeat;
z-index:1;
}

.screen-dark{
position:absolute;
inset:0;
background:linear-gradient(
to bottom,
rgba(0,0,0,.25),
rgba(0,0,0,.45),
rgba(0,0,0,.60)
);
z-index:2;
}

.status-bar{
position:absolute;
top:0;
left:0;
right:0;
height:48px;
padding:0 18px;
display:flex;
justify-content:space-between;
align-items:center;
color:#fff;
font-size:15px;
font-weight:bold;
z-index:10;
text-shadow:0 0 8px #000;
}

.status-right{
display:flex;
align-items:center;
gap:8px;
}

.status-left{
display:flex;
align-items:center;
}

.lock-area{
position:absolute;
top:80px;
left:0;
right:0;
text-align:center;
z-index:10;
color:white;
}

.lock-icon{
font-size:34px;
margin-bottom:8px;
}

.big-clock{
font-size:72px;
font-weight:bold;
letter-spacing:2px;
text-shadow:0 0 20px black;
}

.date{
margin-top:10px;
font-size:18px;
opacity:.95;
}

.notification{
position:absolute;
left:50%;
transform:translateX(-50%);
top:210px;
width:90%;
background:rgba(25,25,25,.55);
backdrop-filter:blur(18px);
border-radius:22px;
padding:18px;
color:white;
z-index:10;
border:1px solid rgba(255,255,255,.15);
}

.notification-title{
font-size:16px;
font-weight:bold;
margin-bottom:6px;
}

.notification-text{
font-size:14px;
opacity:.85;
}

.pattern-text{
position:absolute;
bottom:330px;
width:100%;
text-align:center;
color:white;
font-size:18px;
line-height:2;
z-index:10;
text-shadow:0 0 12px black;
}

.pattern-container{
position:absolute;
bottom:70px;
left:50%;
transform:translateX(-50%);
width:310px;
height:310px;
display:grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:repeat(3,1fr);
justify-items:center;
align-items:center;
z-index:20;
}

.dot{
width:22px;
height:22px;
border:3px solid white;
border-radius:50%;
background:rgba(255,255,255,.08);
backdrop-filter:blur(6px);
transition:.2s;
}

.dot.active{
background:#ffffff;
transform:scale(1.35);
box-shadow:0 0 20px white;
}

#patternCanvas{
position:absolute;
left:0;
top:0;
width:310px;
height:310px;
pointer-events:none;
z-index:15;
}

.home-bar{
position:absolute;
bottom:14px;
left:50%;
transform:translateX(-50%);
width:140px;
height:6px;
background:white;
border-radius:50px;
opacity:.9;
z-index:30;
}

.unlock{
animation:unlock .7s forwards;
}

@keyframes unlock{

0%{
opacity:1;
transform:scale(1);
}

100%{
opacity:0;
transform:scale(1.1);
}

}

.shake{
animation:shake .35s;
}

@keyframes shake{

0%{transform:translateX(0);}
20%{transform:translateX(-8px);}
40%{transform:translateX(8px);}
60%{transform:translateX(-8px);}
80%{transform:translateX(8px);}
100%{transform:translateX(0);}

}
